  <footer id="footer">
    <nav>
      <ul>
        <li><span>Vrushti Mody</span></li>
        <li>
          <a href="/about/">About Me</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="/docs/">Docs</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/vrushti-mody-b2a208165">Connect on LinkedIn</a>
        </li>
      </ul>
    </nav>
    <p>&copy; <a href="https://www.vrushtimody.me/" style="text-decoration: none; color: black">Vrushti Mody</a></p>
  </footer>